<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="components/head_title :: page_head('New Brand - Deskita Admin')">
<style>
</style>
<body>
	<div class="container">
		<nav th:replace="components/Navigation :: navigation"></nav>
		<h1>Brands</h1>
		<div>
			<form th:action="${actionSave}" th:method="POST" th:object="${brand}" enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}" />
				<div class="form-group">

					<label>Brand name</label> <input type="text" th:name="name"
						th:value="${brand.name}" th:field="*{name}" required minlength="1"
						maxlength="128" class="form-control"
						placeholder="Enter brand name:" />

				</div>

				<input type="file" id="files" name="fileImage" accept="image/png, image/jpeg, image/jpg"/> <img id="image" th:src="@{/images/brands/}+${brand.logo}"width="300"

					height="250" />
					<button type="submit" value="Save" class="btn btn-primary">Submit</button>
		<button type="button" class="btn btn-secondary">
			<a th:href="@{/brands}">Cancel</a>
		</button>
		</form>
		</div>
		
	</div>
	</div>
	<script type="text/javascript">
		document.getElementById("files").onchange = function() {
			var reader = new FileReader();

			reader.onload = function(e) {
				// get loaded data and render thumbnail.
				document.getElementById("image").src = e.target.result;
			};

			// read the image file as a data URL.
			reader.readAsDataURL(this.files[0]);
		};
		$('.form-check-input-brand').change(function() {
			if (this.checked) {
				$('.form-check-input-brand').prop('checked', false);
				$(this).prop('checked', true);
			}
		})
		$('.form-check-input').change(function() {
			if (this.checked) {
				$('.form-check-input').prop('checked', false);
				$(this).prop('checked', true);
			}
		})
	</script>
</body>
</html>