<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="components/head_title :: page_head('Brands - Deskita Admin')">
<style>
</style>
<body>
	<div class="container">
		<nav th:replace="components/Navigation :: navigation"></nav>
		<h2 style="font-weight: bolder;">Quản lý thương hiệu sản phẩm</h2>
		<a th:href="@{/brands/new}"> Thêm thương hiệu</a>
		<div>
			<table class="table table-bordered table-hover">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Mã thương hiệu</th>
						<th scope="col">Nhãn hiệu</th>
						<th scope="col">Tên nhãn hiệu</th>
						<th scope="col">Tùy chỉnh</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="brand:${listBrands}">
						<th scope="row">[[${brand.id}]]</th>
						<th scope="row">
							<div style="width: 110px; display: inline-block; margin: 10px;">
								<img th:src="'/DeskitaAdmin/images/brands/'+${brand.logo}"
									style="object-fit: contain; width: 80px; height: 80px;" />
							</div>
						</th>
						<th scope="row">[[${brand.name}]]</th>
						<th scope="row"><a class="fas fa-edit"
							th:href="@{'/brands/edit/'+${brand.id}}"></a> <a
							class="far fa-trash-alt"
							th:href="@{'/brands/delete/'+${brand.id}}"></a></th>
					</tr>
				</tbody>
			</table>
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item" th:each="i:${#numbers.sequence(1,totalPage)}"><a
						class="page-link" th:href="@{'/brands/page/'+${i}}">[[${i}]]</a></li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>