<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="components/head_title :: page_head('New Brand - Deskita Admin')">
<style>
</style>
<body>
	<div class="container">
		<nav th:replace="components/Navigation :: navigation"></nav>
		<h2 style="font-weight: bolder;">Quản lý thương hiệu sản phẩm</h2>
		<div>
			<form th:action="${actionSave}" th:method="POST" th:object="${brand}"
				enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">

					<label>Tên thương hiệu</label> <input type="text" th:name="name"
						th:value="${brand.name}" th:field="*{name}" required min="1"
						maxlength="128" class="form-control"
						placeholder="Enter brand name:" />

				</div>

				<input type="file" id="files" name="fileImage"
					accept="image/png, image/jpeg, image/jpg, image/webp" required="required" />
				<div style="width: 210px; display: inline-block; margin: 10px;">
					<img id="image" th:src="@{/images/brands/}+${brand.logo}"
						style="object-fit: contain; width: 100%; height: 100%;" />
				</div>
				<button type="submit" value="Save" class="btn btn-primary">Xác
					nhận</button>
				<button type="button" class="btn btn-secondary">
					<a th:href="@{/brands}">Hủy</a>
				</button>
			</form>
		</div>

	</div>
	<script type="text/javascript">
		document.getElementById("files").onchange = function() {
			var reader = new FileReader();

			reader.onload = function(e) {
				// get loaded data and render thumbnail.
				document.getElementById("image").src = e.target.result;
			};

			// read the image file as a data URL.
			reader.readAsDataURL(this.files[0]);
		};
	</script>
</body>
</html>