<!DOCTYPE html>
<html>

<body>

<nav class="navbar navbar-expand-lg navbar-light navigation" th:fragment="navigation" style="background: white">
<style>
	.dropdown-toggle{
		display:flex;
	}
	.logo{
		width: 100px;
	}
	.navigation{
		box-shadow: 1px 1px 15px #eaeaea;
	}
	.navbar-light .navbar-nav .nav-link{
		    font-size: 17px;
	}
	
	*{
		font-size: 17px;
	}
</style>
	<div class="container">
  <a class="navbar-brand" th:href="@{/}"><img class="logo" th:src="@{/images/logo/logodeskita.png}"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
	<input type="submit"/>
</form>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" th:href="@{/}" style="font-weight: 900;">Trang chủ</a>
      </li>
      <li class="nav-item" sec:authorize="hasAuthority('Admin')">
        <a class="nav-link" th:href="@{/users}" style="font-weight: 900;">Bộ phận</a>
      </li>
     <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
      <li class="nav-item">
        <a class="nav-link " th:href="@{/categories}" style="font-weight: 900;">Loại sản phẩm</a>
      </li>
     </th:block>
       <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
      <li class="nav-item">
        <a class="nav-link " th:href="@{/brands}" style="font-weight: 900;">Thương hiệu</a>
      </li>
       </th:block>
        <th:block sec:authorize="hasAnyAuthority('Admin','Editor','Salesperson')">
       <li class="nav-item">
        <a class="nav-link " th:href="@{/products}" style="font-weight: 900;">Sản phẩm</a>
      </li>
       </th:block>
       <th:block sec:authorize="hasAnyAuthority('Admin','Salesperson')">
      <li class="nav-item">
        <a class="nav-link " th:href="@{/customers}" style="font-weight: 900;">Khách hàng</a>
      </li>
      </th:block>
      <th:block sec:authorize="hasAnyAuthority('Admin','Salesperson','Shipper')">
      <li class="nav-item">
        <a class="nav-link " th:href="@{/orders}" style="font-weight: 900;">Đơn hàng</a>
      </li>
      </th:block>
     <th:block sec:authorize="hasAnyAuthority('Admin')">
      <li class="nav-item">
        <a class="nav-link " th:href="@{/analytics}" style="font-weight: 900;">Thống kê</a>
      </li>
      </th:block>
      
    
    </ul>
     <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle user_avatar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="fas fa-user fa-2x"></span>
    <a class="nav-link" th:href="@{/account}" ><span sec:authentication="principal.Username"></span></a>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item"  th:href="@{/account}">Quản lý thông tin</a>
    <a class="dropdown-item" id="logoutLink" th:href="@{/logout}">Đăng xuất</a>
   
  </div>
</div>
  </div>
  </div>
  <script type="text/javascript">
		$(document).ready(function(){
			$("#logoutLink").on("click",function(e){
				e.preventDefault();
				document.logoutForm.submit();
			});
		});
	</script>
</nav>
</body>
</html>