<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="components/head_title :: page_head('Deskita')">
<body>
	<style>
.btn-twitter {
	background-color: #185aaf;
	color: #fff;
}

.btn-facebook {
	background-color: #df2424;
	color: #fff;
}

.btn-twitter:hover, .btn-facebook:hover {
	opacity: 0.9;
	color:#fff;
}
</style>

	<div class="container index">
		<div th:replace="components/navigation :: navigation"></div>
		<div class="card bg-light">
			<article class="card-body mx-auto" style="width: 400px;">
				<h4 class="card-title mt-3 text-center">Tạo tài khoản</h4>
				<p class="text-center">Bắt đầu tạo tài khoản free nào!</p>
				<p>
					<a href="" class="btn btn-block btn-twitter"> <i
						class="fab fa-twitter"></i>Đăng nhập với Twitter
					</a> <a href="" class="btn btn-block btn-facebook"> <i
						class="fab fa-facebook-f"></i>Đăng nhập với facebook
					</a>
				</p>
				<p class="divider-text">
					<span class="bg-light">Hoặc</span>
				</p>
				<form th:action="@{/customer/save}" method="post"
					th:object="${customer}">
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i>
							</span>
						</div>
						<input name="" class="form-control" placeholder="Tên"
							type="text" th:field="*{firstName}" required pattern="[^\d]+">
					</div>
					<!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i>
							</span>
						</div>
						<input name="" class="form-control" placeholder="Họ"
							type="text" th:field="*{lastName}" required pattern="[^\d]+">
					</div>
					<!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-envelope"></i>
							</span>
						</div>
						<input name="" class="form-control" placeholder="Địa chỉ email"
							type="email" th:field="*{email}" required
							pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
					</div>
					<!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-phone"></i>
							</span>
						</div>

						<input name="" class="form-control" placeholder="Số điện thoại"
							type="tel" th:field="*{phoneNumber}" required
							title="Số điện thoại không khớp"
							pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
					</div>
					<!-- form-group// -->

					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-envelope"></i>
							</span>
						</div>
						<input name="" class="form-control" placeholder="Address info"
							type="text" th:field="*{address}">
					</div>
					<!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-lock"></i>
							</span>
						</div>
						<input class="form-control" placeholder="Mật khẩu"
							id="password" type="password" th:field="*{password}" required
							oninput="checkPasswordMatch(document.getElementById('confirmPassword'))">
					</div>
					<!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-lock"></i>
							</span>
						</div>
						<input class="form-control" placeholder="Xác nhận mật khẩu"
							type="password" id="confirmPassword" required
							oninput="checkPasswordMatch(this)">
					</div>
					<!-- form-group// -->
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block">
							Tạo tài khoản</button>
					</div>
					<!-- form-group// -->
					<p class="text-center">
						Bạn đã có tài khoản? <a th:href="@{/login}">Đăng nhập</a>
					</p>
				</form>
			</article>
		</div>
		<!-- card.// -->

	</div>
	<script type="text/javascript">
		function checkPasswordMatch(confirmPassword) {
			if (confirmPassword.value != $("#password").val()) {
				confirmPassword.setCustomValidity("Mật khẩu xác nhận chưa đúng!");
			} else {
				confirmPassword.setCustomValidity("");
			}
		}
	</script>
</body>
</html>