<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="components/head_title :: page_head('Products - Deskita Admin')">
<style>
</style>
<body>
	<div class="container">
		<nav th:replace="components/Navigation :: navigation"></nav>
		<h2 style="font-weight: bolder;">Quản lý sản phẩm</h2>
		<a th:href="@{/products/new}">Tạo mới sản phẩm</a>
		<div>
			<table class="table table-bordered table-hover">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Mã</th>
						<th scope="col">Ảnh sản phẩm</th>
						<th scope="col">Tên sản phẩm</th>
						<th scope="col">Mô tả ngắn</th>
						<th scope="col">Thông tin đầy đủ</th>
						<th scope="col">Thương hiệu</th>
						<th scope="col">Loại sản phẩm</th>
						<th scope="col">Tùy chỉnh</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="product:${listProducts}">
						<th scope="row">[[${product.id}]]</th>
						<th scope="row"><img style="width: 50px" th:src="'/DeskitaAdmin/images/'+${product.image}"/></th>
						<th scope="row">[[${product.name}]]</th>
						<th scope="row">[[${product.shortDescription}]]</th>
						<th scope="row">[[${product.fullDescription}]]</th>
						<th scope="row">[[${product.brand.name}]]</th>
						<th scope="row">[[${product.category.name}]]</th>
						<th scope="row"><a class="fas fa-edit"
							th:href="@{'/products/edit/'+${product.id}}"></a> <a
							class="far fa-trash-alt"
							th:href="@{'/products/delete/'+${product.id}}"></a></th>
					</tr>
				</tbody>
			</table>
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item"
							th:each="i:${#numbers.sequence(1,totalPage)}"><a
							class="page-link" th:href="@{'/products/page/'+${i}}">[[${i}]]</a></li>
					</ul>
				</nav>
		</div>
	</div>
</body>
</html>