<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="components/head_title :: page_head('Users - Deskita Admin')">
<style>
</style>
<body>
	<div class="container">
		<nav th:replace="components/Navigation :: navigation"></nav>
		<h2 style="font-weight: bolder;">Quản lý khách hàng</h2>
		<div>
			<table class="table table-sm table-bordered table-hover">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Mã khách hàng</th>
						<th scope="col">Tên</th>
						<th scope="col">Họ</th>
						<th scope="col">Số điện thoại</th>
						<th scope="col">Trạng thái tài khoản</th>
						<th scope="col">Ngày tạo tài khoản</th>
						<th scope="col">Tùy chỉnh</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="customer:${customers}">
						<th scope="row">[[${customer.id}]]</th>

						<th scope="row">[[${customer.firstName}]]</th>
						<th scope="row">[[${customer.lastName}]]</th>
						<th scope="row">[[${customer.phoneNumber}]]</th>
						<th scope="row"><a th:if="${customer.enabled==true}"
							class="fas fa-check" href="#"></a></th>
						<th scope="row">[[${customer.createdTime}]]</th>
						<th scope="row"><a class="fas fa-edit"
							th:href="@{'/customer/detail/'+${customer.id}}"></a> <a
							class="far fa-trash-alt"
							th:href="@{'/customer/delete/'+${customer.id}}"></a></th>
					</tr>
				</tbody>
			</table>
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item" th:each="i:${#numbers.sequence(1,total)}"><a
						class="page-link" th:href="@{'/customer/page/'+${i}}">[[${i}]]</a></li>
				</ul>
			</nav>
		</div>
	</div>

</body>
</html>