<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="components/head_title :: page_head('New User - Deskita Admin')">
<style>
</style>
<body>
	<div class="container">
		<nav th:replace="components/Navigation :: navigation"></nav>
		<h1>Khách hàng</h1>
		<div>
			<form th:object="${customer}">
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">


					<label>Mã khách hàng:</label> <span th:text="${customer.id}"></span>

				</div>
				<div class="form-group">


					<label>Địa chỉ email:</label> <span th:text="${customer.email}"></span>

				</div>
				<div class="form-group">


					<label>Họ và tên:</label> <span
						th:text="${customer.firstName+' '+customer.lastName}"></span>

				</div>
				<div class="form-group">


					<label>Số điện thoại:</label> <span
						th:text="${customer.phoneNumber}"></span>

				</div>
				<div class="form-group">


					<label>Địa chỉ:</label> <span th:text="${customer.address}"></span>

				</div>
				<div class="form-group">


					<label>Ngày tạo tài khoản</label> <span
						th:text="${customer.createdTime}"></span>

				</div>
				<div class="form-group">


					<label>Trạng thái tài khoản:</label> <span th:text="${customer.enabled}"></span>

				</div>




			</form>
		</div>
	</div>

</body>
</html>