<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="index navigation" th:fragment="navigation" style="background: white">
<style>
	.dropdown-toggle{
		display:flex;
	}
	.logo{
		width: 100px;
	}
	.navigation{
		box-shadow: 1px 1px 15px #eaeaea;
	}
	.navbar-light .navbar-nav .nav-link{
		    font-size: 20px;
	}
	.user_avatar{
		background: none;
	    border: none;
	    border-bottom: 1px solid black;
	    border-radius: 0px;
	}
	.fa-user{
		color: black;
	}
	*{
		font-size: 18px;
	}
</style>
<nav class="navbar navbar-expand-lg navbar-light" style="height: 95px">
  <a class="navbar-brand" th:href="@{/}"><img th:src="@{'/images/logo/logodeskita.png'}" class="logo"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
	<input type="submit"/>
</form>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" style="margin-left: auto!important">
      <li class="nav-item ">
        <a class="nav-link" th:href="@{/}" >[[#{label.home}]]</a>
      </li>
   
      
       <th:block sec:authorize="!isAuthenticated()">
      <li class="nav-item">
        <a class="nav-link " th:href="@{/login}">Login</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link " th:href="@{/register}">Register</a>
      </li>
  
       </th:block>
      <th:block sec:authorize="isAuthenticated()">
      <li class="nav-item">
        
        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle user_avatar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="fas fa-user fa-2x"></span>
    <a class="nav-link"   th:href="@{/account}" sec:authentication="principal.fullName"></a>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item"   th:href="@{/account}" >Profile</a>
  <a class="dropdown-item"   th:href="@{/my-order}" >My Order</a>
    <a class="dropdown-item" id="logoutLink" th:href="@{/logout}">Logout</a>
   <a class="dropdown-item" th:href="@{/change-password}">Change Password</a>
  </div>
  
</div>
      </li>
      
      </th:block>
     
    </ul>
    
  </div>
</nav>

<script type="text/javascript">
		$(document).ready(function(){
			$("#logoutLink").on("click",function(e){
				e.preventDefault();
				document.logoutForm.submit();
			});
		});
	</script>
</div>
	
</body>
</html>